<div class="main-content">
  <div class="container-fluid">
      <div class="row">
        
        <i class="fa fa-plus-circle" aria-hidden="true" routerLink="/addwasher"  style='font-size:30px;color:red'></i>
       
          <div class="col-md-12">
              <div class="card card-plain">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title mt-0"> welcome to our car wash </h4>
                      <p class="card-category"> Here is a list of washer </p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-hover">
                              <thead class="">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                    Washer Name
                                  </th>
                                  <th>
                                      Phone
                                  </th>
                                  <th>
                                    Email
                                </th>
                                  <th>
                                    Activity
                                  </th>
                                  <th>
                                    Availability
                                 </th>
                                  <th>
                                      Action
                                  </th>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>
                                          2
                                      </td>
                                      <td>
                                          ala
                                      </td>
                                      <td>
                                          548000000
                                      </td>
                                      <td>
                                        san@
                                    </td>
                                      <td>
                                          lavage externe
                                      </td>
                                      <td>
                                        non 
                                    </td>
                                      <td>
                                        <i class="fa fa-edit" style='font-size:30px;color:rgb(13, 153, 48)'></i>
                                        <i class="material-icons" style='font-size:30px;color:red'>delete</i>
                                      </td>
                                  </tr>
                                  <tr>
                                    <td>
                                        3
                                    </td>
                                    <td>
                                        david
                                    </td>
                                    <td>
                                        87454545
                                    </td>
                                    <td>
                                        lavage interne 
                                    </td>
                                    <td>
                                      oui 
                                  </td>
                                    <td>
                                      <i class="fa fa-edit" style='font-size:30px;color:rgb(13, 153, 48)'></i>
                                      <i class="material-icons" style='font-size:30px;color:red'>delete</i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        4
                                    </td>
                                    <td>
                                        ali
                                    </td>
                                    <td>
                                        54810058
                                    </td>
                                    <td>
                                        lavage interne 
                                    </td>
                                    <td>
                                      oui 
                                  </td>
                                    <td>
                                      <i class="fa fa-edit" style='font-size:30px;color:rgb(13, 153, 48)'></i>
                                      <i class="material-icons" style='font-size:30px;color:red'>delete</i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                       5
                                    </td>
                                    <td>
                                       salah
                                    </td>
                                    <td>
                                        4525655555
                                    </td>
                                    <td>
                                        lavage  
                                    </td>
                                    <td>
                                      oui 
                                  </td>
                                    <td>
                                      <i class="fa fa-edit" style='font-size:30px;color:rgb(13, 153, 48)'></i>
                                      <i class="material-icons" style='font-size:30px;color:red'>delete</i>
                                    </td>
                                </tr>
                                  
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


