<div class="main-content">
    <div class="container-fluid">
        <div class="row">
         
         
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title mt-0"> welcome to our car wash </h4>
                        <p class="card-category"> Here is a list of appoinments </p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="">
                                    <th>
                                     Appoinment ID 
                                    </th>
                                    <th>
                                      Customer id
                                    </th>
                                    <th>
                                        Date
                                    </th>
                                    <th>
                                        State
                                    </th>
                                    <th>
                                      Note
                                   </th>
                                    <th>
                                       action
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            12
                                        </td>
                                        <td>
                                            12/12/2022
                                        </td>
                                        <td>
                                            postponed
                                        </td>
                                        <td>
                                            This appointment has been postponed to 12/07/2022
                                      </td>
                                        <td>
                                           
                                          <i class="material-icons" style='font-size:30px;color:red'>delete</i>
                                        </td>
                                    </tr>
                                    <tr>
                                      <td>
                                          2
                                      </td>
                                      <td>
                                         15
                                      </td>
                                      <td>
                                          17/01/2023
                                      </td>
                                      <td>
                                          lcanceled 
                                      </td>
                                      <td>
                                        this appointment is canceled
                                    </td>
                                      <td>
                                        
                                        <i class="material-icons" style='font-size:30px;color:red'>delete</i>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          3
                                      </td>
                                      <td>
                                          4
                                      </td>
                                      <td>
                                          19/09/2022
                                      </td>
                                      <td>
                                          
                                       to validate 
                                      </td>
                                      <td>
                                       
                                    </td>
                                      <td>
                                       
                                        <i class="material-icons" style='font-size:30px;color:red'>delete</i>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                         4
                                      </td>
                                      <td>
                                         17
                                      </td>
                                      <td>
                                          12/12/2025
                                      </td>
                                      <td>
                                        waiting  
                                      </td>
                                      <td>
                                        
                                    </td>
                                      <td>
                                       
                                        <i class="material-icons" style='font-size:30px;color:red'>delete</i>
                                      </td>
                                  </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
 
